name: Test

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "src/**"
      - "tests/**"
    branches: [main, master]
  push:
    paths:
      - "src/**"
      - "tests/**"
    branches: [main, master]

jobs:
  tests:
    if: github.repository == 'raycast/utils'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: raycast/github-actions/git-checkout@v1.13.0
      - name: Setup node
        uses: raycast/github-actions/setup-node@v1.13.0
      - name: Npm Install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Npm Install Tests
        run: npm ci
        working-directory: ./tests
      - name: Build tests
        run: npm run build
        working-directory: ./tests
